//------------------------------
// File Name   : _common.scss
// Description : 全般スタイル
//------------------------------

@use 'variables';

/* -----------------------------------------------------
 調整
----------------------------------------------------- */

.l-sp-only {
    display: none;
    @include sp {
        display: block;
    }
}
.l-tab-only {
    display: none;
    @include tab {
        display: block;
    }
}
.l-dt-only {
    display: block;
    @include tab {
        display: none;
    }
}

@for $i from 1 through 9 {

    .mb-#{$i}0 {
        margin-bottom: #{$i}0px;
    }

    .mt-#{$i}0 {
        margin-top: #{$i}0px;
    }
    
    .ml-#{$i}0 {
        margin-left: #{$i}0px;
    }
    
    .mr-#{$i}0 {
        margin-right: #{$i}0px;
    }    

}  

.img_blank {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: none;
}

// トップページのスクロールスナップ調整
// .l-fullPageScroll {
    // overflow-y: auto;
    // overflow-x: hidden;
    // scroll-snap-type: y mandatory;  
    // scroll-snap-stop: always;
    // height: 100vh;
// }
// .l-home_hero,
// .l-about {
    // scroll-snap-align: start;  
    // height: 100vh;
// }

/* -----------------------------------------------------
 .l-hdr ヘッダー
----------------------------------------------------- */

.l-home {
    .l-hdr {
        opacity: 0;
    }
}

body:not(.l-home) {
    .l-hdr {
        position: sticky;
        top: 0;
        left: 0;
    }
}

.l-hdr {

    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    // opacity: 0;
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(4px);
    transition-duration: .3s;
    &.js-show {
        opacity: 1;
    }

    @include tab {
        padding: 15px 0; 
    }
    &_inr {
        max-width: $dkt-wrap;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include tab {
            max-width: $sp-wrap;
        }
    }
    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        @include tab {
            display: block;
        }
        &_logo {
            justify-self: flex-start;
            a {
                display: block;
                svg {
                    width: 110px;
                    height: 110px;
                    transition-duration: .2s;         
                    g {
                        transition-duration: .4s;         
                        > path {
                            transition-duration: .2s;         
                        }
                    }
                }
                &:hover {
                    svg {
                        fill: #fff;
                        g {
                            fill: url(#g0);
                            stroke: #f854c6;
                            > path {
                                stroke: #fff;
                            }
                        }
                    }
                }
            }
        }
        &_nav {
            justify-self: center;
            @include tab {
            }
            button {
                position: relative;
                height: 100%;
                width: 50px;
                height: 66px;
                span {
                    &.m-txt {
                        display: block;
                        position: absolute;
                        bottom: calc(50% + 2px);
                        right: 0;
                        font-family: $Codystar;
                        font-size: 1.6rem;
                    }
                    &.m-mark {
                        display: block;
                        height: 1px;
                        position: absolute;
                        border-bottom: 1px dotted #000;
                        right: 0;
                        @include firsttype(2) {
                            width: 100%;
                            bottom: 50%;
                        }
                        @include firsttype(3) {
                            width: 70%;
                            bottom: calc(50% - 10px);
                        }
                        @include firsttype(4) {
                            width: 35%;
                            bottom: calc(50% - 20px);
                        }
                    }
                }
            }
        }
    }
    &_mail {
        font-family: $Raleway;
        font-size: 2rem;
        @include tab {
            display: none;
            font-size: 1.6rem;
        } 
    }
    &_nav {
        @include tab {
            display: none;
            position: absolute;
            left: 0;            
        }
        &.js-show {
            @include tab {
                display: block;
            }
        }
        &_list {
            display: flex;
            margin-left: -40px;
            @include tab {
                display: block;
                margin-left: 0;
            }
            li {
                padding-left: 40px;
                @include tab {
                    padding-left: 0;
                    margin-bottom: 10px;
                }
                > a {
                    font-family: $Codystar;
                    font-size: 3rem;
                    padding: 0 10px;
                    transition-duration: 0s;
                    display: flex;
                    @include tab {
                        font-size: 2rem;
                    }
                    &:hover {
                        opacity: 1;
                        color: #fff;
                        background: $grada1;
                        // border-bottom: 1px dotted $grada1; 
                    }
                }
            }
        }
    }
    &.js-change {
        padding: 3px 0;
        .l-ttl_01 {
            > a {
                width: 80px;
                height: 80px;
                @include tab {
                    width: 66px;
                    height: 66px;
                }
                svg {
                    transform: scale(.7);
                    transform-origin: left top;
                    @include tab {
                        transform: scale(.6);
                    }
                }
            }
        }
        .l-hdr_item {
            &.l-hdr_item_logo {
                display: block;
                .l-hdr_mail {
                    display: none;
                    font-size: 1.4rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

/* -----------------------------------------------------
 .l-ftr フッター
----------------------------------------------------- */

.l-ftr {

    padding: 45px 0;
    border-top: 1px solid #000;
    @include tab {
        padding: 30px 0 60px;
    }

    &_inr {
        max-width: $dkt-wrap;
        margin: 0 auto;
        display: flex;
        @include tab {
            max-width: $sp-wrap;
            display: block;
        }
    }

    &_logo {
        margin-right: 70px;
        @include tab {
            text-align: center;
            margin-right: 0;
            margin-bottom: 25px;
        }
        > a {
            display: block;
            svg {
                width: 110px;
                height: 110px;
                transition-duration: .2s;         
            }
            &:hover {
                svg {
                    fill: #fff;
                    g {
                        fill: url(#g1);
                        stroke: #ffc74a;
                        > path {
                            stroke: #fff;
                        }
                    }
                }
            }            
        }
    }
    &_name {
        margin-bottom: 25px;
        @include tab {
            text-align: center;
        }
        &_01 {
            font-family: $ASL;
            font-size: 3.6rem;
            margin-right: 30px;
            @include tab {
                display: block;
                margin-bottom: 32px;
                margin-right: 0;
            }
        }
        &_02 {
            font-family: $Raleway;
            font-size: 3rem;
            @include tab {
                display: block;
            }
        }
    }
    &_mail {
        font-family: $Raleway;
        font-size: 2.4rem;
        margin-bottom: 38px;
        @include tab {
            text-align: center;
            margin-bottom: 70px;
        }
    }
    &_sns {
        &_list {
            li {
                margin-bottom: 6px;
                @include tab {
                    margin-bottom: 10px;
                    text-align: center;
                }
                > a {
                    font-family: $Codystar;
                    font-size: 1.6rem;
                    padding-left: 10px;
                    position: relative;
                    transition: none;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -.5px;
                        width: 5px;
                        height: 1px;
                        background: #000;
                    }
                    &:hover {
                        color: $orange;
                        margin-left: 5px;
                        &:before {
                            background: $orange;
                        }
                    }
                    @include tab {
                        font-size: 2rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    &_item {
        &_menu {
            margin-left: auto;
        }
    }
    &-nav {
        height: 100%;
        &__list {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;   
            align-items: flex-end;    
            @include tab {
                align-items: center;
            }                 
            li {
                @for $i from 9 through 1 {
                    @include first(#{$i}) {
                        padding-right: $i * 20px;
                    }
                }
                @include tab {
                    @for $i from 9 through 1 {
                        @include first(#{$i}) {
                            padding-right: 0;
                        }
                    }
                }
                a {
                    font-family: $Codystar;
                    font-size: 2rem;
                    transition: none;
                    padding: 0 1rem;
                    @include tab {
                        justify-content: center;
                        text-align: center;
                        font-size: 3rem;
                    }
                    &:hover {
                        color: #fff;
                        background: $green;
                    }
                }
            }
        }
    }
}