//------------------------------
// File Name   : _object.scss
// Description : パーツなどのスタイル
//------------------------------

@use 'variables';

/* -----------------------------------------------------
 body
----------------------------------------------------- */



/* -----------------------------------------------------
 .l-ttl　タイトル・ヘッダー
----------------------------------------------------- */

.l-ttl {

    &_01 {
        margin-right: 30px;
        > a {
            display: block;
            @include tab {
                width: 66px;
                height: 66px;
            }
            svg {
                width: 110px;
                height: 110px;
                @include tab {
                    transform: scale(.6);
                    transform-origin: left top;
                }
            }
        }
    }

    &_02 {
        font-size: 2.4rem;
        line-height: 1;
        margin-bottom: 22px;
        font-family: $Raleway;
        
        @include tab {
            font-size: 2.1rem;
            margin-bottom: 40px;
        }

    }
}

/* -----------------------------------------------------
 .l-wrap ラッパー
----------------------------------------------------- */

.l-wrap {

    &_01 {
        max-width: $dkt-wrap;
        width: 100%;
        margin: 0 auto 4rem;  
        @include tab {
            max-width: $sp-wrap;
        }      
    }
}

/* -----------------------------------------------------
 .l-btn　ボタン
----------------------------------------------------- */

.l-btn {
    &_viewall {
        > a {
            color: $blue;
            font-family: $Codystar;
            font-size: 3rem;
            letter-spacing: .05em;
            @include tab {
                font-size: 2.2rem;
            }
            svg {
                margin-left: 14px;
            }
        }
    }
    &_scroll {
        padding-left: 10px;
        position: relative;
        padding-bottom: 30px;
        span {
            font-family: $Codystar; 
            font-size: 2.4rem;
            line-height: 1;
            letter-spacing: -0.2em;            
            writing-mode: vertical-rl;  
            text-orientation: upright; 
            @include tab {
                font-size: 1.4rem;
            }           
        }
        svg {
            position: absolute;
            left: 0;
            bottom: 0;
        }        
    }
    &_detail {
        font-family: $Codystar; 
        font-size: 2rem;
        line-height: 1;     
        color: $blue;  
        text-align: right; 
    }
}

/* -----------------------------------------------------
 .l-pager ページャー
----------------------------------------------------- */

.l-pager {

    &__01 {
        margin-top: 17rem;
        &__list {
            display: flex;
            justify-content: center;
            &__item {
                margin: 0 25px;
            }
        }
        &__circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }        
        &__num {
            > a {
                color: $blue;
                background: #fff;
                border: 1px solid $blue;
                &:hover {
                    border-color: $pink;
                    background: $pink;
                    color: #fff;
                }
            }
            &__current {
                span {
                    background: $blue;
                    color: #fff;
                 
                }
            }
        }

        &__arw {
            align-self: flex-end;
            > a {
                transition-duration: .2s;
                position: relative;
                right: 0;
                left: 0;
            }            
            &__next {
                > a {
                    &:hover {
                        right: -15px;
                        left: auto;
                    }
                }
            }
            &__prev {
                > a {
                    &:hover {
                        right: auto;
                        left: -15px;
                    }
                }
            }            

        }
        &__total {
            margin-top: 3rem;
            text-align: center;
        }
    }

}