//------------------------------
// File Name   : _object.scss
// Description : パーツなどのスタイル
//------------------------------

@use 'variables';

/* -----------------------------------------------------
 body
----------------------------------------------------- */



/* -----------------------------------------------------
 .l-ttl　タイトル・ヘッダー
----------------------------------------------------- */

.l-ttl {

    &_01 {
        > a {
            display: block;
        }
    }

    &_hero {
        &_name {
            font-family: $ASL;
            font-size: 250px;
            @include tab {
                font-size: 100px;
            }
        }
        &_job {
            font-family: $Raleway;
            font-size: 100px;
            @include tab {
                font-size: 45px;
            }
        }
    }
    &_02 {
        font-size: 2.4rem;
        line-height: 1;
        margin-bottom: 22px;
        font-family: $Raleway;
        
        @include tab {
            font-size: 2.1rem;
            margin-bottom: 40px;
        }

        // &.ttl-works {
        //     color: $pink; 
        // }
        // &.ttl-skills {
        //     color: $w-blue;
        // }
    }
}

/* -----------------------------------------------------
 .l-wrap ラッパー
----------------------------------------------------- */

.l-wrap {

    &_01 {
        max-width: $dkt-wrap;
        width: 100%;
        margin: 0 auto 4rem;  
        @include tab {
            max-width: $sp-wrap;
        }      
    }
}

/* -----------------------------------------------------
 .l-btn　ボタン
----------------------------------------------------- */