//------------------------------
// File Name   : _variables.scss
// Description : 関数
//------------------------------

// colors
// -------------------------
$black: #050505;
$grey: #9B9B9B;
$pink: #E618E2;
$w-blue: #1CEEF7;
$blue: #132EFC;
$orange: #F06C45;
$green: #5cf924;

// gradation
$grada1: linear-gradient(#1ceef7 0%, #f854c6 100%);
$grada1_circle: radial-gradient(#f854c6 0%, #1ceef7 100%);
$grada2: radial-gradient(#fff 0%, #ecfce7 37.44%, #5cf924 70.44%, #ffc74a 100%);

// font
// -------------------------

// font-family ----------

$noto-sans: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$ASL: 'Averia Sans Libre', "Helvetica", sans-serif;
$Codystar: 'Codystar', "Helvetica", sans-serif;

// variable-font
// $noto-vf: 'NotoVF', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$Raleway: 'Raleway', sans-serif;

// fontSize
// -------------------------
$fontSizeSS: 1.2rem;
$fontSizeS: 1.4rem;
$fontSizeR: 1.6rem;
$fontSizeM: 2.2rem;
$fontSizeL: 2.6rem;
$fontSizeLL: 3.2rem;

// fontWeight
// -------------------------

// noto-sans
$light: 300;
$regular: 400;
$medium: 500;

// cont
// -------------------------

$dkt: 1432px; // desktop
$dkt-wrap: calc(100vw - 300px); // desktop-wrap
$tab: 1024px; // tablet
$sp: 767px;  // sp
$sp-small: 375px;
$sp-wrap: calc(100% - 40px);