//------------------------------
// File Name   : _about.scss
// Description : ABOUTスタイル
//------------------------------

@use 'variables';

/* -----------------------------------------------------
 .l-about ABOUT
----------------------------------------------------- */

.l-about {
    background: $grada2;
    height: 100vh;

    .l-btn_scroll {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -17px;
        bottom: 0;
        margin: 0 auto;
        animation: about_btn_scrl 1s infinite;
    }

    &_inr {
        max-width: $dkt;
        margin: 0 auto 120px;
        display: flex;
        flex-direction: column;
        // /* align-items: center; */
        justify-content: center;
        height: 100vh;
        padding: 100px 0;  
        position: relative;          
        @include tab {
            max-width: $sp-wrap;
        }
    }
    &_ttl {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 60px;
        position: relative;
        &_about {
            display: block;
            font-family: $Raleway;
            font-size: 20rem;
            text-align: left;
            @include tab {
                font-size: 9rem;
            }
        }
        &_me {
            display: block;
            font-family: $ASL;
            font-size: 20rem;
            text-align: right;
            position: absolute;
            bottom: -40px;
            right: 0;
            @include tab {
                font-size: 8rem;
            }
        }
    }
    &_text {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        font-family: $noto-vf;
        @include tab {
            max-width: 100%;
        }
    }

}