//------------------------------
// File Name   : _home.scss
// Description : トップページスタイル
//------------------------------

@use 'variables';

/* -----------------------------------------------------
 .l-home トップページ
----------------------------------------------------- */

.l-home {
    &_hero {
        // padding: 345px 0 50px;
        background: $grada1;
        height: 100vh;
        &_inr {
            max-width: $dkt-wrap;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            // /* align-items: center; */
            justify-content: center;
            height: 100vh;
            padding: 100px 0;  
            position: relative;          
            @include tab {
                max-width: $sp-wrap;
                justify-content: space-around;
            }
        }
        &_name {
            font-family: $ASL;
            font-size: 250px;
            line-height: 1;
            animation: ttl_hero_name_weight 4s forwards;
            @include tab {
                font-size: 100px;
                text-align: center;
            }
        }
        &_job {
            font-family: $Raleway;
            font-size: 100px;
            text-align: right;
            font-weight: 100;
            font-variation-settings: 'wght' 100;
            animation: ttl_hero_job_weight 6s infinite;
            @include tab {
                font-size: 42px;
            }
        }  
        .l-btn_scroll {
            position: absolute;
            left: 0;
            bottom: 0;
            animation: about_btn_scrl 1s infinite;
            @include tab {
                bottom: -20px;
                span {
                    font-size: 2rem;
                }
                svg {
                    transform: scale(.8);
                }
            }
        }      
    }
}