// //------------------------------
// // File Name   : _skills.scss
// // Description : スキルスタイル
// //------------------------------

@use 'variables';

.l-skills {
    
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    @include tab {
        display: block;
        padding-top: 48px;
    }     

    &_ttl {
        
        &_wrap {
            flex-shrink: 0;
            ::selection {
                background: #dedede;
                color: $pink;
            }  
        }
        font-family: $Raleway;
        font-size: 15rem;
        line-height: 1;
        writing-mode: vertical-rl;  
        text-orientation: upright;            
        padding-top: 165px;
        padding-left: 30px;
        padding-right: 30px;  
        word-break: keep-all;
        letter-spacing: -0.2em;   
        position: sticky;     
        top: -165px;
        @include tab {
            font-size: 6rem;
            text-align: center;
            writing-mode: horizontal-tb;
            padding: 0;
            margin-bottom: 0;
            letter-spacing: .05em;
            position: relative;
            top: auto;
        }  
    }
    &_box {

        ::selection {
            background: #dedede;
            color: $blue;
        }  

        flex: 1;
        background: #DEDEDE;
        border-left: 1px solid #000;
        padding: 165px 40px 75px;
        @include tab {
            border-left: none;
            border-top: 1px solid #000;
            padding: 57px 20px;
        }
    }
    &_container {
        margin: 20px;
        padding: 20px;
        position: relative;
        border-radius: 50%;
        margin-bottom: 200px;
        position: relative;
        @include tab {
            margin: 0;
            margin-bottom: 80px;
            padding-top: 40px;
        }
        @include odd {
            border: 5px solid rgba(230, 24, 226, .67);
            background: radial-gradient(rgba(230, 24, 226, .67) 0%, rgba(28, 238, 247, .67) 100%);
            margin-left: auto;
            .l-skills_list_item_parts {
                color: #fff;
                background: $black;
            }
        }
        @include even {
            border: 5px solid rgba(66, 108, 46, .67);
            background: radial-gradient(rgba(86, 255, 34, .67) 0%, rgba(240, 108, 69, .67) 100%);
            .l-skills_list_item_parts {
                color: #fff;
                background: $black;
            }            
        }  
        
        // LANGUAGESコンテナー
        @include first(1) {
            width: 75%;
            height: 500px;
            @include tab {
                width: 100%;
                height: auto;
            }
            .l-skills_term {
                position: absolute;
                top: 40%;
                right: 20%;
                @include tab {
                    position: relative;
                    top: auto;
                    right: auto;
                }
            }            
            .l-skills_term-child_block {
                position: absolute;
                @include tab {
                    position: relative;
                    margin-bottom: 20px;
                    top: auto !important;
                    right: auto !important;
                }
                // #frontend
                @include firsttype(1) {
                    top: -20px;
                    right: 10px;
                }
                // #taskrunner
                @include firsttype(2) {
                    top: 300px;
                    left: 10px;
                } 
                // #serverside
                @include firsttype(3) {
                    top: 300px;
                    right: 0px;
                }                                
            }
        }
        // TOOLSコンテナー
        @include first(2) {
            width: 90%;
            height: 900px;
            @include tab {
                width: 100%;
                height: auto;
            }            
            .l-skills_term {
                position: absolute;
                top: 18%;
                right: 12%;
                @include tab {
                    position: relative;
                    top: auto;
                    right: auto;
                }                
            }
            .l-skills_term-child_block {
                position: absolute;
                @include tab {
                    position: relative;
                }
                // #design
                @include firsttype(1) {
                    top: 5%;
                    left: -3%;
                }
                // #cms
                @include firsttype(2) {
                    top: 30%;
                    right: 5%;
                }  
                // #editor
                @include firsttype(3) {
                    top: 35%;
                    left: 33%;
                } 
                // #ci/cd
                @include firsttype(4) {
                    top: 60%;
                    right: 9%;
                }  
                // #marketing
                @include firsttype(5) {
                    top: 70%;
                    right: 35%;
                } 
                // #database
                @include firsttype(6) {
                    top: 80%;
                    right: 60%;
                } 
                // #communitacion
                @include firsttype(7) {
                    top: 50%;
                    left: 0;
                } 
                // #version-control
                @include firsttype(8) {
                    top: -11%;
                    left: 37%;
                }                                                                                                                
            }
        }    
        // OSコンテナー
        @include first(3) {
            width: 30%;
            height: 250px;
            @include tab {
                width: 100%;
                height: auto;
            }            
            .l-skills_term {
                position: absolute;
                top: -20%;
                right: 35%;
                @include tab {
                    position: relative;
                    top: auto;
                    right: auto;
                }                
            }            
            .l-skills_term-child_block {
                position: absolute;
                @include tab {
                    position: relative;
                }
                @include firsttype(1) {
                    top: 15%;
                    left: 18%;
                }
            }
        }            
    }

    &_term {
        font-size: 8rem;
        font-family: $Codystar;
        z-index: 1;
        word-break: keep-all;
        @include tab {
            font-size: 4rem;
            font-family: $Raleway;
            text-align: center;
            word-break: break-all;
            margin-bottom: 15px;
        }
    }

    &_term-child {

        &_block {
            display: inline-block;
            padding: 30px;
            background: #fff;
            border-radius: 50px;
            @include tab {
                padding: 20px;
                padding-bottom: 10px;
                border-radius: 20px;
                display: block;
                position: relative;
                margin-bottom: 30px;
                top: auto !important;
                right: auto !important;
                left: auto !important;
            }            
        }

        &_ttl {
            color: #000;
            font-size: 2rem;
            font-weight: $medium;
            margin-bottom: 20px;
            @include tab {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    &_list {
        display: flex;
        margin-left: -20px;
        justify-content: center;
        @include tab {
            flex-wrap: wrap;
            margin-left: -20px;
        }
        &_item {
            margin-left: 20px;
            position: relative;
            transition-delay: .2s; 
            display: flex;
            flex-direction: column;    
            @include tab {
                margin-left: 10px;
                flex-basis: calc(50% - 10px);
                margin-bottom: 20px;
            }    
            @include even {
                .l-skills_list_item_parts {
                    bottom: auto;
                    top: calc(100% + 10px);
                    &:before {
                        top: auto;
                        bottom: 100%;
                        border-width: 0 0 50px 10px;
                        border-color: transparent transparent $black transparent;
                        
                    }
                }
            }

            &_name {
                font-size: 1.4rem;
                text-align: center;
                color: hotpink;
                font-weight: $medium;
                margin-bottom: 10px;
            }
            &_icon {
                text-align: center;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;  
                z-index: 2;
                &.js-skill-mouse {
                    + .l-skills_list_item_parts {
                        opacity: 1;
                        z-index: 3;
                        @include tab {
                            opacity: 0;
                        }
                    }
                }
                &.js-skill-touch {
                    + .l-skills_list_item_parts {
                        z-index: 3;
                        @include tab {
                            opacity: 1;
                        }
                    }
                }                              
                > img {
                    max-width: 75px;
                    max-height: 75px;
                }
            }
            &_parts {
                display: none;
                position: absolute;
                width: 200%;
                padding: 10px;
                bottom: 100%;
                left: -15px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                font-weight: $medium;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 0 0 3px #fff;    
                opacity: 0;
                transition-duration: .1s;   
                z-index: 1;
                @include tab {
                    width: 100%;
                    left: 0;
                }  
                &:before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 50px;
                    left: 30px;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 50px 0;
                    border-color: transparent $black transparent transparent;
                }
            }            
            &_level {
                font-size: 1.2rem;
            }
            &_years {
                font-size: 1.2rem;
            }
            &_note {
                margin-top: auto;
                font-size: 1.2rem;
            }
        }

    }
    
}