// //------------------------------
// // File Name   : _works.scss
// // Description : 作品スタイル
// //------------------------------

@use 'variables';

.l-home {
    .l-works_ttl {
        transform: translateX(-100%);          
        transition-duration: .5s;
    }
}

.l-works {

    padding: 298px 0 230px;
    position: relative;
    @include tab {
        padding: 60px 0 100px;
    }
    
    &_ttl {
        color: $blue;
        font-size: 25rem;
        position: absolute;
        left: 0;
        z-index: 1;
        top: 200px;  
        animation: slide-in-left .5s;
        @include tab {
            position: relative;
            text-align: center;
            top: auto;
            left: auto;
            font-size: 6rem;
            margin-bottom: 1rem;
        }
    }

    .l-btn {
        &_viewall {
            text-align: right;
            a {
                margin-right: 10px;
                transition: cubic-bezier(0.215, 0.610, 0.355, 1);
                &:hover {
                    margin-right: 0;
                    opacity: 1;
                    color: $pink;
                    svg {
                        path {
                            stroke: $pink;
                        }
                    }  
                }
            }
        }
    }
   
    
    /* -----------------------------------------------------
     .l-works_list
    ----------------------------------------------------- */

    &_list {
        border-top: 1px solid $blue;
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
        row-gap: 4rem;
        @include tab {
            margin-bottom: 15px;
            row-gap: 0;
        }

        @include tab {
            grid-template-columns: 1fr;
        }

        &_item {
            position: relative;
            opacity: .7;
            transform: translateY(40px);    
            transition-duration: .3s;        

            &:hover {
                &:after {
                    content: '';
                    position: absolute;
                    height: 5px;
                    right: 0;
                    bottom: 0;
                    background: $pink;
                    animation: works_active_bottom .6s ease forwards;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    left: 0;
                    bottom: 0;
                    background: $pink;
                    animation: works_active_left .8s ease forwards;
                }                
            }

            > a {
                display: grid;
                grid-template-rows: 320px auto auto auto;
                gap: 1.5rem;
                height: 100%;
                padding: 60px 20% 70px;
                padding-bottom: 30px;
                color: $blue;
                text-align: center;
                position: relative;
                border-right: 1px solid $blue;
                border-bottom: 1px solid $blue;
                @include tab {
                    grid-template-rows: auto auto auto;    
                    padding: 40px 20px 30px;            
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 5px;
                    left: 0;
                    top: -1px;
                    background: $pink;
                    transition-duration: .2s;
                }  
                .l-btn_detail {
                    transform: scale(.9);
                    position: absolute;
                    right: 20%;
                    bottom: 20px;   
                    transition-duration: .1s;      
                    @include tab {
                        position: relative;
                        right: 0;
                        bottom: 0;
                    }       
                }                  
                &:hover {
                    opacity: 1;
                    color: $pink;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 5px;
                        left: 0;
                        top: -1px;
                        background: $pink;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        right: -1px;
                        top: 0;
                        background: $pink;
                        animation: works_active_right .4s ease forwards;
                    }    
                    .l-works_list_item_fig {
                        border: 3px solid $pink;
                    }  

                    .l-btn_detail {
                        color: $pink;
                        right: 0;
                        svg {
                            path {
                                stroke: $pink;
                            }
                        }
                    }               
                }
            }
            &_ttl {
                font-size: 2.4rem;
                font-weight: $medium;
                grid-row: 2 / span 1;
            }
            &_fig {
                grid-row: 1 / span 1;
                position: relative;
                text-align: center;
                border: 3px solid $blue;
                width: 65%;
                margin: 0 auto;
                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_tags_list {
                grid-row: 3 / span 1;
                display: flex;
                flex-wrap: wrap;
                margin-top: auto;
                justify-content: center;
                border-right: -7px;
                &_item {
                    font-size: 1.4rem;
                    margin-right: 5px;
                }
            }   
            &.js-pop {
                opacity: 1;
                transform: translateY(0);
            }         
        }
    }
    
    /* -----------------------------------------------------
     .l-works_post
    ----------------------------------------------------- */

    &_post {
        
        color: $blue;

        .l-hdr_item_nav {
            button {
                color: $blue;
            }
            .m-mark {
                border-color: $blue;
            }
        }
        
        &_wrap {
            border-top: 1px solid $blue;
            border-bottom: 1px solid $blue;
            padding: 17rem 10rem 20rem;
            @include tab {
                padding: 6rem 2rem;
            }
        }

        .l-ftr {
            border-top: 1px solid $blue;
        }

        .l-ttl_01,
        .l-ftr_logo {
            svg {
                g {
                    stroke: $blue;
                }                
                > path {
                    stroke: $blue;
                    fill: $blue;
                }
            }
        }

        .l-works_ttl {
            position: relative;
            top: 0;
            font-size: 20rem;
            @include tab {
                font-size: 6rem;
            }
        }

        &_ttl {
            text-align: center;
            font-size: 5rem;
            color: $blue;
            letter-spacing: .08em;
            margin-bottom: 5rem;
            font-weight: $medium;
            @include tab {
                font-size: 3rem;
                margin-bottom: 3rem;
                line-height: 1.2;
            }
        }
        
        &_tags {
            &_list {
                display: flex;
                justify-content: center;
                margin-bottom: 8rem;
                flex-wrap: wrap;
                @include tab {
                    margin-bottom: 3rem;
                }
                &_item {
                    margin-right: 25px;
                    font-size: 2.2rem;
                    font-family: $Raleway;
                    @include tab {
                        font-size: 1.4rem;
                        margin-right: 5px;
                    }
                    a {
                        transition: 0s;
                        &:hover {
                            opacity: 1;
                            background: $blue;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &_url {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 10rem;
            font-family: $Raleway;
            padding-right: 38px;
            font-variation-settings: 'wght' 400;
            @include tab {
                font-size: 1.8rem;
                margin-bottom: 6rem;
                padding-right: 21px;
            }
            > a {
                color: $blue;
                border-bottom: 2px solid currentColor;
                transition-duration: 0s;
                margin-left: 5px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -38px;
                    top: -4px;
                    background: url('../../imgs/common/external-link.svg') right top / contain;
                    @include tab {
                        top: auto;
                        bottom: 0px;
                        width: 21px;
                        height: 21px;
                        right: -28px;                        
                    }
                }
                &:hover {
                    opacity: 1;
                    color: #fff;
                    border-bottom: 2px solid $blue;
                    background: $blue;
                }
                img {
                    vertical-align: top;
                    margin-left: 3px;
                }
            }
        }

        &_figs {
            width: 85%;
            max-width: 1200px;
            margin: 0 auto 10rem;
            @include tab {
                width: 90%;
                margin-bottom: 5rem;
            }
            &_list {
                display: flex;
                justify-content: space-between;
                @include tab {
                    flex-direction: column-reverse;
                }
                &_item {
                    position: relative;
                    width: 100%;
                    align-self: flex-start;
                    &:before {
                        content: '';
                        display: block;
                    }

                    &.m-fig_pc {
                        flex-basis: 65%;
                        &.m-wide {
                            flex-basis: 100%;
                        }
                        &:before {
                            padding-top: 56.25%;
                        }                      
                    }
                    &.m-fig_sp {
                        flex-basis: 30%;
                        &.m-wide {
                            flex-basis: 100%;
                        }                        
                        @include tab {
                            margin-bottom: 60px;
                        }
                        &:before {  
                            padding-top: 177.77%;                        
                        }
                    }   
                    &_lead {
                        position: absolute;
                        top: -23px;
                        left: 0;
                        z-index: 100;
                        font-family: $Raleway;
                        img {
                            width: auto;
                            height: 1.2em;
                            margin-right: 4px;
                            vertical-align: sub;
                        }
                    }                 
                    figure {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;                         
                        border: 10px solid $blue;
                        height: 100%;
                        overflow-y: auto;
                        cursor: url(../../../assets/imgs/common/ico_scrl_01.svg),all-scroll;
                        @include tab {
                            border-width: 5px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }        

        &_info {
            background: $blue;
            color: #fff;
            padding: 60px;
            width: 70%;
            margin: 0 auto;
            @include tab {
                width: 90%;
                padding: 20px;
            }
            &_lead {
                font-size: 3rem;
                margin-bottom: 6rem;
                @include tab {
                    font-size: 2rem;
                    margin-bottom: 3rem;
                }
            }
            &_lower {
                width: 90%;
                margin: 0 auto;
                @include tab {
                    width: 100%;
                }
                > p {
                    @include not-last {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .l-single__pager {
            padding-top: 4rem;
            width: 70%;
            margin: 0 auto 4rem;
            @include tab {
                width: 85%;
            }
            &__list {
                margin-bottom: 60px;
                display: flex;
                justify-content: space-between;
                &__item {
                    flex-basis: 40%;
                    &.m_next {
                        text-align: left;
                        a {
                            margin-left: 10px;
                            background: url(../../../assets/imgs/common/arw_left.svg) no-repeat 10px 10px;
                            @include tab {
                                margin-left: 0;
                            }
                        }
                    }
                    &.m_prev {
                        text-align: right;
                        a {
                            margin-right: 10px;
                            background: url(../../../assets/imgs/common/arw_right.svg) no-repeat right 10px top 10px;
                            @include tab {
                                margin-right: 0;
                            }
                        }                        
                    }
                    a {
                        display: block;
                        font-size: 2rem;
                        padding-top: 1.8rem;
                        font-weight: $medium;
                        border: 1px solid blue;
                        padding: 10px;
                        padding-top: 30px;                        
                        &:hover {
                            margin-left: 0;
                            margin-right: 0;
                            opacity: 1;
                        }
                        @include tab {
                            height: 100%;
                            font-size: 1.6rem;
                        }
                    }
                    span {
                        display: block;
                        font-size: 1.4rem;
                        margin-bottom: 1.2rem;
                        @include tab {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .l-ftr_sns_list li>a:before {
            background: $blue;
        }    
        
        .l-btn_viewall {
            text-align: center;
            a {
                transition: 0s;
                &:hover {
                    margin-top: 0;
                    opacity: 1;
                    background: $blue;
                    color: #fff;
                }
            }
        }   
        
        &_totop {
            text-align: center;
            > a {
                display: inline-block;
                text-align: center;
                margin-bottom: 2rem;
                transition: 0s;
                &:hover {
                    opacity: 1;
                    span {
                        background: $blue;
                        color: #fff;
                    }
                }
            }
        }

    }

    /* -----------------------------------------------------
     .l-works_post_archive 作品一覧
    ----------------------------------------------------- */    

    &_post_archive {

        color: $blue;

        .l-ttl_01,
        .l-ftr_logo {
            svg {
                g {
                    stroke: $blue;
                }                
                > path {
                    stroke: $blue;
                    fill: $blue;
                }
            }
        }

        &.l-taxonomy {
            .l-works_ttl {
                @include tab {
                    margin-bottom: 1rem;
                }
            }
        }
        .l-works_category {
            position: absolute;
            top: 200px;
            right: 0;
            font-family: $Raleway;
            font-size: 10rem;
            z-index: 1;
            @include tab {
                font-size: 2.4rem;
                position: relative;
                top: auto;
                right: auto;
                text-align: center;
            }
        }

        .l-ftr {
            border-top: none;
        }

        .l-works_post_wrap {
            padding-left: 0;
            padding-right: 0;
        }

        .l-ftr_sns_list li>a:before {
            background: $blue;
        }  

    }

    /* .js- でのアニメーション
    ----------------------------------------------------- */    

    &.js-show {
        .l-works_ttl {
            transform: translateX(0);
        }
    }
}